// variables
$desktop1920: 'screen and (min-width: 1441px)';
$desktopHD: 'screen and (min-width: 1361px) and (max-width: 1440px)';
$desktop: 'screen and (min-width: 801px) and (max-width: 1366px)';
$desktopGeneral: 'screen and (min-width: 800px)';
$mobileGeneral: 'screen and (max-width: 800px)';
$mobile7inch: 'screen and (min-width: 600px) and (max-width: 800px)';
$mobile6inch: 'screen and (min-width: 376px) and (max-width: 599px)';
$mobile5inch: 'screen and (max-width: 375px)';

$backgroundEventTimeline: #f5f5f5;

// start centering image
@mixin center-image {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@mixin centerImage($centerImage) {
  @if($centerImage){
    @include center-image;
  } @else {
    width: 100%;
  }
}
// end centering image

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
  display: block;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

img {
  display: block;
}

.quote, q {
  quotes: none;
}

.quote:before, .quote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1, h2, h3, h4, h5, h6, .date {
  font-family: "Roboto";
}

h1 {
  font-size: 250%;
  font-weight: 500;
}

h2 {
  font-size: 220%;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  font-size: 180%;
  font-weight: 500;
}

h4 {
  font-size: 120%;
  font-weight: 400;
}

h5 {
  font-size: 100%;
  font-weight: 400;
}

h6 {
  font-size: 80%;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}
.col {
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

html,
body {
  height: 100%;
  position: relative;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@function colorContrast($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }
  @else {
    @return #FFF;
  }
}

// popup
.popup {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
}

$headerHeightDesktop: '4em';
$headerHeightMobile: '3em';
// header
header {
  z-index: 9;
  @media #{$desktopGeneral} {
    width: 100%;
    height: #{$headerHeightDesktop};
    position: absolute;
    top: 0;
    &.sticky {
      background: #000;
      border-bottom: 0.75px solid rgba(0,0,0,0.3);
      & .menu {
        a {
          // color: #f;
        }
      }
    }
  }
  @media #{$mobileGeneral}{
    height: #{$headerHeightMobile};
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
    border-bottom: 0.5px solid #d8d8d8;
  }
  & > .wrapper {
    display: flex;
    height: 100%;
    & > * {
      flex-grow: 1;
      height: 100%;
      align-items: center;
      &:nth-child(1) {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
      }
    }

    & .icon {
      @media #{$desktopGeneral}{
        margin-right: 1em;
      }
      @media #{$mobileGeneral}{
        &.flags {
          margin-right: 0.5em;
          position: absolute;
          right: 90px;
        }
        &.search {       
          position: absolute;
          right: 60px;
        }
      }
    }
  }

  & > .search {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
    transition: all 0.3s ease;

    &.active {
      opacity: 1;
      padding: 0.5em 0 1em;
      background: #fff;
      border-bottom: 0.5px solid #d8d8d8;
      transform: translate3d(0, 0, 0);
      transition: all 0.3s ease;
    }
  }
}

// icons
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  &.search,
  &.flags {
    background-image: url(../images/sprites.png);
  }

  // flags
  &.flags {
    width: 20px;
    height: 20px;
    @media #{$desktopGeneral}{
      background-size: 180px;
      &.china {
        background-position: -26px -52px;
      }
      &.indonesia {
        background-position: -52px -52px;
      }
      &.uk {
        background-position: 0 -52px;
      }
    }
    @media #{$mobileGeneral}{
      background-size: 180px;
      &.china {
        background-position: -26px -52px;
      }
      &.indonesia {
        background-position: -52px -52px;
      }
      &.uk {
        background-position: 0 -52px;
      }
    }
  }

  // search
  &.search {
    width: 22px;
    height: 22px;
    @media #{$desktopGeneral}{
      background-size: 200px;
      &.search {
        background-position: 0 0;
      }
    }
    @media #{$mobileGeneral}{
      background-size: 200px;
      &.search {
        background-position: -30px 0;
      }
    }
  }

  // social
  &.social {
    & > * {
      background: url(../images/sprites.png) no-repeat;
      display: inline-block;
      list-style: none;
      overflow: hidden;
      width: 32px;
      height: 32px;
      @media #{$desktopGeneral}{
        background-size: 256px;
        &.facebook {
          background-position: 0 -36px;
        }
        &.instagram {
          background-position: -34px -36px;
        }
        &.twitter {
          background-position: -70px -36px;
        }
      }
      @media #{$mobileGeneral}{
        background-size: 256px;
        &.facebook {
          background-position: 0 -36px;
        }
        &.instagram {
          background-position: -34px -36px;
        }
        &.twitter {
          background-position: -70px -36px
        }
      }
    }
  }
}

// languages
.languages {
  z-index: -1;
  display: inline-block;
  background: #fff;
  position: absolute;
  right: 60px;
  top: #{$headerHeightMobile};
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #d8d8d8;
  opacity: 0;
  transform: translate3d(0,-100px,0);
  transition: all 0.2s ease;
  & > .wrapper {
    padding: 0.5em 1em;
    & li {
      list-style: none;
      margin: 1em 0;
      display: flex;
      align-items: center;
      & > *:nth-child(1) {
        margin-right: 1em;
      }
      & > *:nth-child(2) {
        color: #000;
        text-decoration: none;
      }
    }
  }
  &.active {
    z-index: 1;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.2s ease;
  }
}

// search
form {
  &.search {
    padding: 0.5em 0 1em;
    & .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1em;
      position: relative;
      & input {
        box-sizing: border-box;
        &:nth-of-type(1) {
          border: 1px solid #ccc;
          border-radius: 40px;
          min-width: 100%;
          padding: 0.5em 2em 0.5em 0.5em;
        }
        &:nth-of-type(2) {
          color: #666;
          border-radius: 40px;
          position: absolute;
          right: 20px;
          -webkit-appearance: none;
        }
      }
    }
  }
}

// main
main {
  padding-bottom: 25em;
  & > * {
    & > .wrapper {
      @media #{$desktop1920} {
        padding: 0 8%;
      }
      @media #{$desktopHD} {
        padding: 0 8%;
      }
      @media #{$desktop} {
        padding: 0 6%;
      }
      @media #{$mobileGeneral} {
        padding: 0 1em;
      }
      @media #{$mobile7inch} {
        padding: 0 2em;
      }
      @media #{$mobile5inch} {
        padding: 0 1em;
      }

      & > *:nth-child(1) {
        & a {
          color: #000;
          text-decoration: none;
        }
      }

      & > h1 {
        @media #{$desktop1920} {
          font-size: 250%;
          margin: 2em 0 1em;
        }
        @media #{$desktopHD} {
          font-size: 220%;
          margin: 2em 0 1em;
        }
        @media #{$desktop} {
          font-size: 220%;
          margin: 2em 0 1em;
        }
        @media #{$mobileGeneral} {
          font-size: 120%;
          margin: 1em 0 1em;
        }
        @media #{$mobile7inch} {
          font-size: 150%;
          margin: 1em 0 1em;
        }
        @media #{$mobile5inch} {
          font-size: 140%;
          margin: 1em 0 1em;
        }
      }
      & > h2 {
        @media #{$desktop1920} {
          font-size: 120%;
          margin: 2em 0 1em;
        }
        @media #{$desktopHD} {
          font-size: 120%;
          margin: 2em 0 1em;
        }
        @media #{$desktop} {
          font-size: 120%;
          margin: 2em 0 1em;
        }
        @media #{$mobileGeneral} {
          font-size: 120%;
          margin: 1em 0 1em;
        }
        @media #{$mobile7inch} {
          font-size: 120%;
          margin: 1em 0 1em;
        }
        @media #{$mobile5inch} {
          font-size: 100%;
          margin: 1em 0 1em;
        }
      }
    }
  }

  & article,
  & .related {
    padding-bottom: 2em;
    & > .wrapper {
      @media #{$desktop1920} {
        padding: 0 24%;
      }
      @media #{$desktopHD} {
        padding: 0 16%;
      }
      @media #{$desktop} {
        padding: 0 16%;
      }
      @media #{$mobileGeneral} {
        padding: 0 1em;
      }
      @media #{$mobile7inch} {
        padding: 0 2em;
      }
      @media #{$mobile5inch} {
        padding: 0 1em;
      }
    }
  }

  & article {
    & > .wrapper {
      h1 {
        @media #{$desktop1920} {
          font-size: 220%;
          line-height: 120%;
          margin: 2em 0 1em;
        }
        @media #{$desktopHD} {
          font-size: 220%;
          line-height: 120%;
          margin: 2em 0 1em;
        }
        @media #{$desktop} {
          font-size: 220%;
          line-height: 120%;
          margin: 1em 0 1em;
        }
        @media #{$mobileGeneral} {
          font-size: 180%;
          line-height: 140%;
          margin: 1em 0 1em;
        }
        @media #{$mobile7inch} {
          font-size: 220%;
          line-height: 140%;
          margin: 1em 0 1em;
        }
        @media #{$mobile6inch} {
          font-size: 180%;
          line-height: 140%;
          margin: 1em 0 1em;
        }
        @media #{$mobile5inch} {
          font-size: 180%;
          line-height: 140%;
          margin: 1em 0 1em;
        }
      }
    }
  }
}

// slide headline
.swiper-container {
  &.headline {
    width: 100%;
    overflow: hidden;
    @media #{$desktopGeneral} {
      height: 580px;
    }
    @media #{$mobileGeneral} {
      height: 100%;
      margin: 1em 0 0;
    }
    & .swiper-slide {
      & > .wrapper {
        @media #{$mobileGeneral} {
          padding: 0 1em 0;
        }
        @media #{$mobile7inch} {
          padding: 0 2em 0;
        }
        & > a:first-child {
          display: block;
          @media #{$desktopHD} {
            height: 100%;
          }
          @media #{$desktop} {
            height: 580px;
            overflow: hidden;
          }
          & img {
            @media #{$desktopGeneral} {
              border-radius: 0;
              box-shadow: none;
            }
            @media #{$mobileGeneral} {
              border-radius: 8px;
              box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
            }
          }
        }
      }
    }

    h1 {
      margin: 1em 0 0;
      & a {
        padding: 1em 0;
      }
    }
  }

  &.description {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
    @media #{$desktopGeneral} {
      margin: -120px auto 0;
      width: 50%;
    }
    @media #{$mobileGeneral} {
      box-shadow: none;
      margin: 1em 0;
      width: 100%;
    }
    & figcaption {
      & > .wrapper {
        @media #{$desktop1920} {
          padding: 2em 4% 0;
        }
        @media #{$desktopHD} {
          padding: 2em 4% 0;
        }
        @media #{$desktop} {
          padding: 2em 8% 0;
        }
        @media #{$mobileGeneral} {
          padding: 0 1em 0;
        }
        @media #{$mobile7inch} {
          padding: 0 2em 0;
        }
        & p {
          font-size: 16px;
          font-weight: 300;
          margin-top: 1em;
          @media #{$mobileGeneral} {
            font-size: 14px;
          }
        }
      }
    }
  }

  &.headline,
  &.description {
    // & .swiper-slide {
    //   & > * {
    //     // @media #{$mobileGeneral} {
    //     //   padding: 2em 1em 0;
    //     // }
    //   }
    // }
    & .swiper-pagination {
      padding: 1em 0;
    }
  }

  &.type-1 {
    & .swiper-wrapper {
      & .swiper-slide {
        overflow: hidden;
        @media #{$desktop1920} {
          width: 388px;
        }
        @media #{$desktopHD} {
          width: 286px;
        }
        @media #{$desktop} {
          width: 260px;
        }
        @media #{$mobile7inch} {
          width: 200px;
        }
        @media #{$mobile6inch} {
          width: 160px;
        }
        @media #{$mobile5inch} {
          width: 100px;
        }
        & .wrapper {
          height: 100%;
          position: relative;
          & > a:first-child {
            display: block;
            overflow: hidden;
            position: relative;
            @media #{$desktop1920} {
              border-radius: 4px;
              height: 291px;
            }
            @media #{$desktopHD} {
              border-radius: 4px;
              height: 215px;
            }
            @media #{$desktop} {
              border-radius: 4px;
              height: 186px;
            }
            @media #{$mobile7inch} {
              border-radius: 4px;
              height: 150px;
            }
            @media #{$mobile6inch} {
              border-radius: 4px;
              height: 120px;
            }
            @media #{$mobile5inch} {
              border-radius: 4px;
              height: 100px;
            }
            & img {
              @media #{$desktopGeneral} {
                width: 150%;
              }
              @media #{$mobileGeneral} {
                @include centerImage(true);
              }
            }
          }
          & > *:nth-child(2) {
            & > * {
              & > *:nth-child(1) {
                @media #{$desktop1920} {
                  font-size: 100%;
                  margin: 1em 0 0.5em;
                }
                @media #{$desktopHD} {
                  font-size: 100%;
                  margin: 1em 0 0.5em;
                }
                @media #{$desktop} {
                  font-size: 90%;
                  margin: 1em 0 0.5em;
                }
                @media #{$mobileGeneral} {
                  font-size: 120%;
                  margin: 1em 0 0.5em;
                }
                @media #{$mobile7inch} {
                  font-size: 80%;
                  margin: 0.8em 0 0.4em;
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                  margin: 0.8em 0 0.4em;
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                  margin: 0.8em 0 0.4em;
                }
              }
              & > *:nth-child(2) {
                color: #555;
                font-weight: 300;
                @media #{$desktop1920} {
                  font-size: 120%;
                }
                @media #{$desktopHD} {
                  font-size: 120%;
                }
                @media #{$desktop} {
                  font-size: 100%;
                }
                @media #{$mobileGeneral} {
                  font-size: 150%;
                }
                @media #{$mobile7inch} {
                  font-size: 90%;
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                }
              }
            }
          }
        }
      }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      background-color: #000;
      background-size: 30%;
      width: 32px;
      height: 32px;
      top: 30%;
      @media #{$desktopGeneral} {
        display: none;
      }
    }

    & .swiper-button-next {
      right: 0;
    }
    & .swiper-button-prev {
      left: 0;
    }
  }

  &.type-2 {
    & .swiper-wrapper {
      & .swiper-slide {
        overflow: hidden;
        @media #{$desktop1920} {
          width: 524px;
          border-radius: 4px;
        }
        @media #{$desktopHD} {
          width: 390px;
          border-radius: 4px;
        }
        @media #{$desktop} {
          width: 358px;
          border-radius: 4px;
        }
        @media #{$mobile7inch} {
          width: 200px;
          border-radius: 4px;
        }
        @media #{$mobile6inch} {
          width: 187px;
          border-radius: 4px;
        }
        @media #{$mobile5inch} {
          width: 288px;
          border-radius: 4px;
        }
        & > .wrapper {
          height: 100%;
          position: relative;
          & > a:first-child {
            display: block;
            overflow: hidden;
            position: relative;
            @media #{$desktop1920} {
              border-radius: 4px;
              height: 393px;
            }
            @media #{$desktopHD} {
              border-radius: 4px;
              height: 292px;
            }
            @media #{$desktop} {
              border-radius: 4px;
              height: 269px;
            }
            @media #{$mobile7inch} {
              border-radius: 4px;
              height: 150px;
            }
            @media #{$mobile6inch} {
              border-radius: 4px;
              height: 140px;
            }
            @media #{$mobile5inch} {
              border-radius: 4px;
              height: 216px;
            }
            & img {
              @media #{$desktopGeneral} {
                width: 150%;
              }
              @media #{$mobileGeneral} {
                @include centerImage(true);
              }
            }
          }

          & > *:nth-child(2) {
            position: absolute;
            bottom: 0;
            width: 100%;
            @media #{$desktop1920} {
              height: 48px;
            }
            @media #{$desktopHD} {
              height: 48px;
            }
            @media #{$desktop} {
              height: 32px;
            }
            @media #{$mobileGeneral} {
              height: 32px;
            }
            @media #{$mobile7inch} {
              height: 32px;
            }
            @media #{$mobile6inch} {
              height: 32px;
            }
            @media #{$mobile5inch} {
              height: 32px;
            }
            & > * {
              height: 100%;
              position: relative;
              & > *:nth-child(1),
              & > *:nth-child(2) {
                & a {
                  color: #fff;
                  display: initial;
                }
              }
              & > *:nth-child(1),
              & > *:nth-child(2) {
                @media #{$desktop1920} {
                  font-size: 100%;
                  & > * {
                    padding: 0 12px;
                  }
                }
                @media #{$desktopHD} {
                  font-size: 100%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$desktop} {
                  font-size: 90%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$desktopGeneral} {
                  font-size: 90%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$mobileGeneral} {
                  font-size: 90%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile7inch} {
                  font-size: 90%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                  & > * {
                    padding: 0 4px;
                  }
                }
              }
              & > *:nth-child(3) {
                display: block;
                font-weight: 300;
                @media #{$desktop1920} {
                  bottom: 48px;
                  padding: 0 12px;
                }
                @media #{$desktopHD} {
                  bottom: 48px;
                  padding: 0 8px;
                }
                @media #{$desktop} {
                  bottom: 32px;
                  padding: 0 8px;
                }
                @media #{$desktopGeneral} {
                  padding: 0 8px;
                }
                @media #{$mobileGeneral} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile7inch} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                  bottom: 25px;
                  padding: 0 4px;
                }
              }
            }
          }
        }
      }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      background-color: #000;
      background-size: 30%;
      width: 32px;
      height: 32px;
      top: 50%;
      @media #{$desktopGeneral} {
        display: none;
      }
      @media #{$mobileGeneral} {
        display: none;
      }
    }

    & .swiper-button-next {
      right: 0;
    }
    & .swiper-button-prev {
      left: 0;
    }
  }

  &.type-3 {
    &.picture {
      & .swiper-wrapper {
        & .swiper-slide {
          overflow: hidden;
          width: 100%;
          @media #{$desktopGeneral} {
            border-radius: none;
          }
          @media #{$mobileGeneral} {
            border-radius: 4px;
          }
          & > .wrapper {
            height: 100%;
            position: relative;
            & > a:first-child {
              display: block;
              overflow: hidden;
              position: relative;
              @media #{$desktop1920} {
                border-radius: 4px;
                height: 604px;
              }
              @media #{$desktopHD} {
                border-radius: 4px;
                height: 453px;
              }
              @media #{$desktop} {
                border-radius: 4px;
                height: 422px;
              }
              @media #{$mobile7inch} {
                border-radius: 4px;
                height: 422px;
              }
              @media #{$mobile6inch} {
                border-radius: 4px;
                height: 257px;
              }
              @media #{$mobile5inch} {
                border-radius: 4px;
                height: 216px;
              }
              & img {
                @media #{$desktopGeneral} {
                  width: 150%;
                }
                @media #{$mobileGeneral} {
                  @include centerImage(true);
                }
              }
            }
          }
        }
      }
    }

    &.caption {
      & .swiper-wrapper {
        & .swiper-slide {
          overflow: hidden;
          width: 100%;
          & > .wrapper {
            height: 100%;
            position: relative;
            & > *:nth-child(1),
            & > *:nth-child(2) {
              & a {
                color: #000;
                display: initial;
              }
            }
            & > *:nth-child(1) {
              @media #{$desktop1920} {
                font-size: 150%;
                margin: 0 0 1em;
              }
              @media #{$desktopHD} {
                font-size: 120%;
                margin: 0 0 1em;
              }
              @media #{$desktop} {
                font-size: 110%;
                margin: 0 0 1em;
              }
              @media #{$mobileGeneral} {
                margin: 0.5em 0 1em;
              }
              @media #{$mobile7inch} {
                font-size: 120%;
                margin: 0.5em 0 1em;
              }
              @media #{$mobile6inch} {
                font-size: 90%;
                margin: 1em 0 0.5em;
              }
              @media #{$mobile5inch} {
                font-size: 90%;
                margin: 1em 0 0.5em;
              }
            }
            & > *:nth-child(2) {
              @media #{$desktop1920} {
                font-size: 130%;
              }
              @media #{$desktopHD} {
                font-size: 120%;
              }
              @media #{$desktop} {
                font-size: 100%;
              }
              @media #{$desktopGeneral} {
                font-size: 90%;
                font-weight: 300;
              }
              @media #{$mobileGeneral} {
                font-weight: 300;
              }
              @media #{$mobile5inch} {
                font-size: 80%;
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      background-color: rgba(0,0,0,0.5);
      background-size: 30%;
      width: 32px;
      height: 32px;
      top: 75%;
      @media #{$desktopGeneral} {
        display: none;
      }
    }

    & .swiper-button-next {
      right: 0;
    }
    & .swiper-button-prev {
      left: 0;
    }
  }

  &.timeline {
    & .swiper-wrapper {
      padding: 0 2em;
      & .swiper-slide {
        overflow: hidden;
        @media #{$desktop} {
          width: 10%;
          border-radius: 4px;
        }
        @media #{$mobileGeneral} {
          width: 25%;
          border-radius: 4px;
        }
        & > .wrapper {
          height: 100%;
          position: relative;
          & > a:first-child {
            display: block;
            overflow: hidden;
            position: relative;
            @media #{$desktop1920} {
              border-radius: 4px;
              height: 393px;
            }
            @media #{$desktopHD} {
              border-radius: 4px;
              height: 292px;
            }
            @media #{$desktop} {
              border-radius: 4px;
              height: 269px;
            }
            @media #{$mobile7inch} {
              border-radius: 4px;
              height: 150px;
            }
            @media #{$mobile6inch} {
              border-radius: 4px;
              height: 140px;
            }
            @media #{$mobile5inch} {
              border-radius: 4px;
              height: 216px;
            }
            & img {
              @media #{$desktopGeneral} {
                width: 150%;
              }
              @media #{$mobileGeneral} {
                @include centerImage(true);
              }
            }
          }

          & > *:nth-child(2) {
            position: absolute;
            bottom: 0;
            width: 100%;
            @media #{$desktop1920} {
              height: 48px;
            }
            @media #{$desktopHD} {
              height: 48px;
            }
            @media #{$desktop} {
              height: 32px;
            }
            @media #{$mobileGeneral} {
              height: 32px;
            }
            @media #{$mobile7inch} {
              height: 32px;
            }
            @media #{$mobile6inch} {
              height: 32px;
            }
            @media #{$mobile5inch} {
              height: 32px;
            }
            & > * {
              height: 100%;
              position: relative;
              & > *:nth-child(1),
              & > *:nth-child(2) {
                & a {
                  color: #fff;
                  display: initial;
                }
              }
              & > *:nth-child(1),
              & > *:nth-child(2) {
                @media #{$desktop1920} {
                  font-size: 100%;
                  & > * {
                    padding: 0 12px;
                  }
                }
                @media #{$desktopHD} {
                  font-size: 100%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$desktop} {
                  font-size: 90%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$desktopGeneral} {
                  font-size: 90%;
                  & > * {
                    padding: 0 8px;
                  }
                }
                @media #{$mobileGeneral} {
                  font-size: 90%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile7inch} {
                  font-size: 90%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                  & > * {
                    padding: 0 4px;
                  }
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                  & > * {
                    padding: 0 4px;
                  }
                }
              }
              & > *:nth-child(3) {
                display: block;
                font-weight: 300;
                @media #{$desktop1920} {
                  bottom: 48px;
                  padding: 0 12px;
                }
                @media #{$desktopHD} {
                  bottom: 48px;
                  padding: 0 8px;
                }
                @media #{$desktop} {
                  bottom: 32px;
                  padding: 0 8px;
                }
                @media #{$desktopGeneral} {
                  padding: 0 8px;
                }
                @media #{$mobileGeneral} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile7inch} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile6inch} {
                  font-size: 80%;
                  bottom: 32px;
                  padding: 0 4px;
                }
                @media #{$mobile5inch} {
                  font-size: 80%;
                  bottom: 25px;
                  padding: 0 4px;
                }
              }
            }
          }
        }

        &:first-child {
          margin-left: 2em;
        }

        &:last-child {
          margin-right: 2em;
        }
      }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      background-color: $backgroundEventTimeline;
      background-size: 30%;
      width: 32px;
      height: 32px;
      top: 75%;
    }

    & .swiper-button-next {
      right: 0;
    }
    & .swiper-button-prev {
      left: 0;
    }
  }

  & img {
    width: 100%;
  }

  & a {
    color: #000;
    text-decoration: none;
  }

  & h1 {
    @media #{$desktop1920} {
      font-size: 220%;
    }
    @media #{$desktopHD} {
      font-size: 220%;
    }
    @media #{$desktop} {
      font-size: 150%;
    }
    @media #{$mobileGeneral} {
      font-size: 150%;
    }
    @media #{$mobile7inch} {
      font-size: 150%;
    }
    @media #{$mobile5inch} {
      font-size: 120%;
    }
  }
}

// section
section {
  position: relative;

  // subscription
  &.subscription {
    background: url(../images/indonesia-panorama.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    @media #{$desktopGeneral} {
      height: 340px;
      margin: 6em 0;
    }
    @media #{$mobileGeneral} {
      height: 200px;
      margin: 2em 0;
    }
    @media #{$mobile5inch} {
      height: 200px;
      margin: 2em 0;
    }
    & .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 8%;
      & * {
        color: #fff;
      }
      & > *:first-child {
        font-size: 100%;
        font-style: italic;
        text-align: center;
      }

      & form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 1em 0;
        @media #{$desktopGeneral} {
          width: 100%;
        }
        @media #{$mobileGeneral} {
          width: 100%;
        }
        height: 32px;
        & > * {
          position: absolute;
        }
        & input {
          background: none;
          border: 1px solid #fff;
          border-radius: 8px;
          color: #fff;
          padding: 1em 28% 1em 1em;
          width: 68%;
        }
        & button {
          color: #555;
          background: #fff; // for safari
          border: none;
          border-radius: 4px;
          // margin-right: 30px;
          padding: 0.8em 1.6em;
          @media #{$desktop1920} {
            right: 0;
          }
          @media #{$desktop} {
            right: 0.5%;
          }
          @media #{$mobileGeneral} {
            right: 0;
          }
          appearance: none;
        }
      }
    }
  }

  // packages
  &.packages {
    & .swiper-container {
      & .swiper-slide {
        & .description {
          & > * {
            & > *:nth-child(1) {
              // left: 0;
              float: left;
            }

            & *:nth-child(1),
            & *:nth-child(2) {
              width: 50%;
              height: 50%;
              line-height: 32px;
            }

            & *:nth-child(2) {
              float: right;
              text-align: right;
            }

            & *:nth-child(3) {
              color: #fff;
              position: absolute;
              bottom: 48px;
              right: 0;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  // events
  &.featured {
    background: #f5f5f5;
    margin: 6em 0 0;
    & > .wrapper {
      padding-top: 2em;
      padding-bottom: 4em;
      & > * {
        @media #{$mobileGeneral} {
          float: none;
        }
        &:nth-of-type(2) {
          & > .wrapper {
            @media #{$desktopGeneral} {
              padding-left: 4em;
            }
            @media #{$mobileGeneral} {
              padding-left: 0;
            }
            & .swiper-pagination {
              margin-top: 1em;
            }
          }
        }
      }
    }
  }

  &.events {
    padding: 2em 0;
    background: $backgroundEventTimeline;
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// overlay
#detail main > figure,
.subscription,
footer {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}

// article
article {
  a {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }

  p {
    font-weight: 300;
    @media #{$desktop1920} {
      font-size: 130%;
      line-height: 150%;
      margin: 2em 0 1em;
    }
    @media #{$desktopHD} {
      font-size: 130%;
      line-height: 150%;
      margin: 2em 0 1em;
    }
    @media #{$desktop} {
      font-size: 130%;
      line-height: 150%;
      margin: 1em 0 1em;
    }
    @media #{$mobileGeneral} {
      font-size: 120%;
      margin: 1em 0 1em;
    }
    @media #{$mobile7inch} {
      font-size: 160%;
      line-height: 150%;
      margin: 1em 0 1em;
    }
    @media #{$mobile6inch} {
      font-size: 125%;
      line-height: 150%;
      margin: 1em 0 1em;
    }
    @media #{$mobile5inch} {
      font-size: 125%;
      line-height: 150%;
      margin: 1em 0 1em;
    }
  }
}

// related article
.related {
  li {
    list-style-type: none;
    & > * {
      display: inline-block;
      @media #{$desktop1920} {
        font-size: 120%;
        margin: 0.5em 0;
      }
      @media #{$desktopHD} {
        font-size: 120%;
        margin: 0.5em 0;
      }
      @media #{$desktop} {
        font-size: 120%;
        margin: 1em 0;
      }
      @media #{$mobile7inch} {
        font-size: 130%;
        margin: 0.5em 0;
      }
      @media #{$mobile6inch} {
        font-size: 120%;
        margin: 0.5em 0;
      }
      @media #{$mobile5inch} {
        font-size: 75%;
        margin: 0.5em 0;
      }
    }

    a {
      color: #000;
      text-decoration: underline;
    }
  }
}

// figure
figure {
  overflow: hidden;
  position: relative;
  @media #{$desktopGeneral} {
    height: 580px;
  }
  @media #{$mobileGeneral} {
    height: 200px;
    margin: 0 0 2em;
  }
  @media #{$mobile7inch} {
    height: 320px;
    margin: 0 0 2em;
  }
  @media #{$mobile5inch} {
    height: 200px;
    margin: 0 0 2em;
  }

  & > *:nth-child(1) {
    padding: 0;
    height: 100%;
    & a {
      display: block;
      & img {
        @include centerImage(false);
      }
    }
  }

  & .caption {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    background: #000;
    color: #fff;
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
  }

  figcaption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.75);
    font-size: 75%;
    transition: opacity 0.3s ease;
    &.active {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    & * {
      display: block;
      padding: 0.8em 4em 0.8em 1.2em;
    }
  }
}

#home {
  .popup {
    width: 50%;
    height: 320px;
    background: #fff;
    border: 1px solid #ccc;
  }
}

#detail {

  main > figure {
    &:before {
      z-index: 1;
    }

    .caption {
      display: none;
    }
  }
  // event page
  &.event {
    & main {
      & > section:last-child {
        margin-bottom: 4em;
      }

      & .swiper-container {
        &.type-1 {
          & .swiper-slide {
            @media #{$mobileGeneral} {
              width: initial;
            }
            & .wrapper {
              & > a:first-child {
                display: block;
                overflow: hidden;
                position: relative;
                @media #{$mobile7inch} {
                  border-radius: 4px;
                  height: 402px;
                }
                @media #{$mobile6inch} {
                  border-radius: 4px;
                  height: 257px;
                }
                @media #{$mobile5inch} {
                  border-radius: 4px;
                  height: 216px;
                }
                & img {
                  @media #{$desktopGeneral} {
                    width: 150%;
                  }
                }
              }
            }
          }

          & .swiper-button-next,
          & .swiper-button-prev {
            @media #{$desktopGeneral} {
              display: none;
            }
          }
        }
      }
    }
  }

  // search result
  &.search {
    & main {
      & form {
        &.search {
          z-index: 1;
          position: absolute;
          @media #{$desktopGeneral} {
            bottom: 4em;
            width: 50%;
            & input {
              padding: 1em 4em 1em 2em;
              &:nth-of-type(2) {
                padding-right: 2em;
                right: 15px;
                background: #555;
                color: #ccc;
                text-align: center;
                -webkit-appearance: none;
                border: 1px solid #555;
                margin: 0;
              }
            }
          }
          @media #{$mobileGeneral} {
            bottom: 0;
            width: 80%;
          }
        }
      }
    }
  }

  .prelude {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    & .wrapper {
      color: #fff;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
      }
      h1 {
        @media #{$desktop1920} {
          margin: 0.5em 0;
        }
        @media #{$desktopHD} {
          margin: 0.5em 0;
        }
        @media #{$desktop} {
          margin: 0.5em 0;
        }
        @media #{$mobile7inch} {
          font-size: 180%;
          margin: 0.5em 0;
        }
        @media #{$mobile6inch} {
          font-size: 180%;
          margin: 0.5em 0;
        }
        @media #{$mobile5inch} {
          font-size: 180%;
          margin: 0.5em 0;
        }
      }
      p {
        @media #{$desktop1920} {
          margin-bottom: 0.5em;
        }
        @media #{$desktopHD} {
          margin-bottom: 0.5em;
        }
        @media #{$desktop} {
          margin-bottom: 0.5em;
        }
        @media #{$mobile7inch} {
          font-size: 100%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile6inch} {
          font-size: 100%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile5inch} {
          font-size: 90%;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

// animation
// bounce to down
@keyframes bounce-down {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// sticky
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  animation: bounce-down 0.5s forwards;
}

// tags
.tags {
  & li {
    border-radius: 4px;
    display: inline-block;
    margin: 0.5em 0.5em 0 0;
    background: #1E88E5;
    &:nth-child(1) {
      margin-left: 0;
    }
    & a {
      font-size: 90%;
      color: #fff;
      display: inline-block;
      padding: 8px 12px;
      text-decoration: none;
    }
  }
}

// list
.list {
  & li {
    list-style: none;
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 0.5px solid #d8d8d8;
    @media #{$desktopGeneral} {
      display: flex;
    }
    &:last-child {
      border-bottom: 0;
    }
    & > *:nth-child(1) {
      border-radius: 8px;
      display: block;
      overflow: hidden;
      margin-bottom: 1em;
      & img {
        width: 100%;
      }
      @media #{$desktopGeneral} {
        width: 30%;
        margin-right: 1.6em;
      }
    }
    & > .wrapper {
      & > *:nth-child(1) {
        @media #{$desktop1920} {
          font-size: 140%;
          margin-bottom: 0.5em;
        }
        @media #{$desktopHD} {
          font-size: 140%;
          margin-bottom: 0.5em;
        }
        @media #{$desktop} {
          font-size: 120%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile7inch} {
          font-size: 120%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile6inch} {
          font-size: 120%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile5inch} {
          font-size: 120%;
          margin-bottom: 0.5em;
        }
      }
      & > *:nth-child(2) {
        font-weight: 300;
        @media #{$desktop1920} {
          font-size: 110%;
          margin-bottom: 0.5em;
        }
        @media #{$desktopHD} {
          font-size: 110%;
          margin-bottom: 0.5em;
        }
        @media #{$desktop} {
          font-size: 100%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile7inch} {
          font-size: 100%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile6inch} {
          font-size: 90%;
          margin-bottom: 0.5em;
        }
        @media #{$mobile5inch} {
          font-size: 90%;
          margin-bottom: 0.5em;
        }
      }
    }
    & a {
      color: #000;
      text-decoration: none;
    }
  }
}

// footer
footer {
  background: url(../images/footer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
  & > * {
    & > .wrapper:nth-of-type(1) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      &:nth-of-type(1) {
        height: 70%;
      }
      &:nth-of-type(2) {
        height: 30%;
      }
      & .col {
        width: 50%;
        display: flex;
        & > * {
          @media #{$desktopGeneral} {
            padding: 2em 0 0;
          }
          @media #{$mobileGeneral} {
            padding: 0 0 4em;
          }
        }
      }
      & .col:nth-of-type(1) {
        & > * {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @media #{$desktopGeneral} {
            padding-left: 5em;
            flex-direction: row;
          }
          @media #{$mobileGeneral} {
            padding-left: 1em;
            flex-direction: column;
          }
          & li {
            list-style: none;
            @media #{$desktopGeneral} {
              font-size: 100%;
              margin-right: 1.5em;
            }
            @media #{$mobileGeneral} {
              font-size: 90%;
            }
            & a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      & .col:nth-of-type(2) {
        justify-content: flex-end;
        @media #{$desktopGeneral} {
          align-items: flex-start;
        }
        @media #{$mobileGeneral} {
          align-items: flex-end;
        }
        & > * {
          @media #{$desktopGeneral} {
            padding-right: 5em;
          }
          @media #{$mobileGeneral} {
            padding-right: 1em;
          }
        }
      }
    }
    & > .wrapper:nth-of-type(2) {
      & > * {
        color: #ffffff;
        @media #{$desktopGeneral} {
          font-size: 100%;
        }
        @media #{$mobileGeneral} {
          font-size: 90%;
        }
      }
    }
  }

  & a {
    color: #fff;
    text-decoration: none;
  }
}

@media #{$mobileGeneral} {
  .w-50 {
    width: 100%;
  }
}

